@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: Outfit;
}

@layer theme {
  :root {
    --font-detail-large: 36px;
    --font-detail-large-height: 44px;
    --font-detail-small: 26px;
    --font-detail-small-height: 36px;
    --font-home-heading-large: 48px;
    --font-home-heading-large-height: 56px;
    --font-home-heading-small: 28px;
    --font-home-heading-small-height: 34px;
    --font-default: 15px;
    --font-default-height: 21px;
    --fonr-re: rgb(38, 0, 255);
    --section-height: 500px;
    --fonr-pe: purple;
    /* --auto: "repeat(auto-fit, minmax(200px, 1fr )"; */
  }
}

@layer utilities {
  .course-details-heading-small {
    font-size: var(--font-detail-small);
    line-height: var(--font-detail-small-height);
  }

  .course-details-heading-large {
    font-size: var(--font-detail-large);
    line-height: var(--font-detail-large-height);
  }
  .section-height {
    height: var(--section-height);
  }

  .home-heading-large {
    font-size: var(--font-home-heading-large) !important;
    line-height: var(--font-home-heading-large-height) !important;
    color: var(--fonr-pe);
  }

  .home-heading-small {
    font-size: var(--font-home-heading-small);
    color: var(--fonr-re);
    line-height: var(--font-home-heading-small-height);
  }

  .default {
    font-size: var(--font-default);
    line-height: var(--font-default-height);
  }

  .auto {
  }

  /* Responsive Variants */
  @media (min-width: 640px) {
    .sm\:home-heading-large {
      font-size: var(--font-home-heading-large) !important;
      line-height: var(--font-home-heading-large-height) !important;
    }

    .sm\:home-heading-small {
      font-size: var(--font-home-heading-small);
      line-height: var(--font-home-heading-small-height);
    }

    .sm\:course-details-heading-large {
      font-size: var(--font-detail-large);
      line-height: var(--font-detail-large-height);
    }

    .sm\:course-details-heading-small {
      font-size: var(--font-detail-small);
      line-height: var(--font-detail-small-height);
    }
    .sm\:default {
      font-size: var(--font-default);
      line-height: var(--font-default-height);
    }
  }

  @media (min-width: 768px) {
    .md\:home-heading-large {
      font-size: var(--font-home-heading-large) !important;
      line-height: var(--font-home-heading-large-height) !important;
    }

    .md\:home-heading-small {
      font-size: var(--font-home-heading-small);
      line-height: var(--font-home-heading-small-height);
    }

    .md\:course-details-heading-large {
      font-size: var(--font-detail-large);
      line-height: var(--font-detail-large-height);
    }

    .md\:course-details-heading-small {
      font-size: var(--font-detail-small);
      line-height: var(--font-detail-small-height);
    }
    .md\:default {
      font-size: var(--font-default);
      line-height: var(--font-default-height);
    }
  }

  @media (min-width: 1024px) {
    .lg\:home-heading-large {
      font-size: var(--font-home-heading-large) !important;
      line-height: var(--font-home-heading-large-height) !important;
      color: var(--fonr-pe);
    }

    .lg\:home-heading-small {
      font-size: var(--font-home-heading-small);
      line-height: var(--font-home-heading-small-height);
    }

    .lg\:course-details-heading-large {
      font-size: var(--font-detail-large);
      line-height: var(--font-detail-large-height);
    }

    .lg\:course-details-heading-small {
      font-size: var(--font-detail-small);
      line-height: var(--font-detail-small-height);
    }
    .lg\:default {
      font-size: var(--font-default);
      line-height: var(--font-default-height);
    }
  }
}
